<a href="https://colab.research.google.com/github/tittae/leetcode/blob/main/Three_Number_Sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Three Number Sum

Write a function that takes in a non-empty array of distinct integers and an integer representing a target sum. The function should find all triplets in the array that sum up to the target sum and return a two-dimensional array of all these triplets. The numbers in each triplet should be ordered in ascending order, and the triplets themselves should be ordered in ascending order with respect to the numbers they hold.

If no three numbers sum up to the target sum, the function should return an empty array.

Sample Input

```
array = [12, 3, 1, 2, -6, 5, -8, 6]
targetSum = 0
```

Sample Output

```
[[-8, 2, 6], [-8, 3, 5], [-6, 1, 5]]
```

## Solution (Brute Force / Triple loop)

In [10]:
# Time O(n^3), Space O(n) store output


def threeNumberSum(array, targetSum):
	array.sort()
	array_threeNumberSum = []
	for idx1, num1 in enumerate(array[:-2]):
		for idx2, num2 in enumerate(array[idx1+1:]):
			for idx3, num3 in enumerate(array[idx1+1+idx2+1:]):
				if targetSum == num1 + num2 + num3:
					array_threeNumberSum.append([num1, num2, num3])
	return array_threeNumberSum

In [11]:
array = [12, 3, 1, 2, -6, 5, -8, 6]
targetSum = 0

In [12]:
print(threeNumberSum(array, targetSum))

[[-8, 2, 6], [-8, 3, 5], [-6, 1, 5]]

## Solution (one loop with two pointer)

In [13]:
# Time O(n^2) and Space O(n) (store output)

def threeNumberSum(array, targetSum):
	array.sort()
	array_threeNumberSum = []
	for idx1 in range(len(array) - 2):
		left = idx1 + 1
		right = len(array) - 1
		while left < right:
			current_sum = array[idx1] + array[left] + array[right]
			if targetSum == current_sum:
				array_threeNumberSum.append([array[idx1], array[left], array[right]])
				left += 1
				right -= 1
			elif targetSum > current_sum:
				left += 1
			elif targetSum < current_sum:
				right -=1
	return array_threeNumberSum

In [14]:
array = [12, 3, 1, 2, -6, 5, -8, 6]
targetSum = 0

In [15]:
print(threeNumberSum(array, targetSum))

[[-8, 2, 6], [-8, 3, 5], [-6, 1, 5]]