<a href="https://colab.research.google.com/github/wisarootl/leetcode/blob/main/Largest_Number_After_Digit_Swaps_by_Parity_(Easy).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Largest Number After Digit Swaps by Parity

You are given a positive integer num. You may swap any two digits of num that have the same parity (i.e. both odd digits or both even digits).

Return the largest possible value of num after any number of swaps.

Example 1:

```
Input: num = 1234
Output: 3412
Explanation: Swap the digit 3 with the digit 1, this results in the number 3214.
Swap the digit 2 with the digit 4, this results in the number 3412.
Note that there may be other sequences of swaps but it can be shown that 3412 is the largest possible number.
Also note that we may not swap the digit 4 with the digit 1 since they are of different parities.
```

Example 2:

```
Input: num = 65875
Output: 87655
Explanation: Swap the digit 8 with the digit 6, this results in the number 85675.
Swap the first digit 5 with the digit 7, this results in the number 87655.
Note that there may be other sequences of swaps but it can be shown that 87655 is the largest possible number.
```

Constraints:

```
1 <= num <= 109
```

In [1]:
# Time = O(n)
# Space = O(n)

class Solution:
    def largestInteger(self, num):
        num = list(str(num))
        num_odd = []
        num_even = []
        
        for idx in range(len(num)):
            if int(num[idx]) % 2 == 0:
                num_even.append(num[idx])
            else:
                num_odd.append(num[idx])
                
        num_odd.sort()
        num_even.sort()
        
        new_num = []        
        
        for idx in range(len(num)):
            if int(num[idx]) % 2 == 0:
                new_num.append(num_even.pop())
            else:
                new_num.append(num_odd.pop())
        
        return int(''.join(new_num))

In [2]:
num = 1234
expected = 3412

output = Solution().largestInteger(num)
print(output)
assert output == expected

3412

In [3]:
num = 65875
expected = 87655

output = Solution().largestInteger(num)
print(output)
assert output == expected

87655

In [4]:
num = 247
expected = 427

output = Solution().largestInteger(num)
print(output)
assert output == expected

427