<a href="https://colab.research.google.com/github/wisarootl/leetcode/blob/main/Smallest_Difference_(Medium).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Smallest Difference

Write a function that takes in two non-empty arrays of integers, finds the pair of numbers (one from each array) whose absolute difference is closest to zero, and returns an array containing these two numbers, with the number from the first array in the first position.

Note that the absolute difference of two integers is the distance between them on the real number line. For example, the absolute difference of -5 and 5 is 10, and the absolute difference of -5 and -4 is 1.

You can assume that there will only be one pair of numbers with the smallest difference.

Sample Input

```
arrayOne = [-1, 5, 10, 20, 28, 3]
arrayTwo = [26, 134, 135, 15, 17]
```

Sample Output

```
[28, 26]
```

In [ ]:
# Time O(nlogn + mlogm)
# Space O(1)

def smallestDifference(arrayOne, arrayTwo):
	arrayOne.sort()
	arrayTwo.sort()
	smallest_diff = float('inf')
	i = 0
	j = 0
	while i < len(arrayOne) and j < len(arrayTwo):
		diff = arrayOne[i] - arrayTwo[j]

		if abs(diff) < smallest_diff:
			pair = [arrayOne[i], arrayTwo[j]]
			smallest_diff = abs(diff)

		if diff > 0:
			j += 1
		elif diff < 0:
			i += 1
		else: # diff == 0
			pair = [arrayOne[i], arrayTwo[j]]
			break
	
	return pair

In [ ]:
arrayOne = [-1, 5, 10, 20, 28, 3]
arrayTwo = [26, 134, 135, 15, 17]

In [ ]:
print(smallestDifference(arrayOne, arrayTwo))

[28, 26]