<a href="https://colab.research.google.com/github/wisarootl/leetcode/blob/main/Two_City_Scheduling_(Medium).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Two City Scheduling

A company is planning to interview 2n people. Given the array costs where costs[i] = [aCosti, bCosti], the cost of flying the ith person to city a is aCosti, and the cost of flying the ith person to city b is bCosti.

Return the minimum cost to fly every person to a city such that exactly n people arrive in each city.

Example 1:

```
Input: costs = [[10,20],[30,200],[400,50],[30,20]]
Output: 110
Explanation: 
The first person goes to city A for a cost of 10.
The second person goes to city A for a cost of 30.
The third person goes to city B for a cost of 50.
The fourth person goes to city B for a cost of 20.

The total minimum cost is 10 + 30 + 50 + 20 = 110 to have half the people interviewing in each city.
```

Example 2:

```
Input: costs = [[259,770],[448,54],[926,667],[184,139],[840,118],[577,469]]
Output: 1859
```

Example 3:

```
Input: costs = [[515,563],[451,713],[537,709],[343,819],[855,779],[457,60],[650,359],[631,42]]
Output: 3086
```

Constraints:

```
2 * n == costs.length
2 <= costs.length <= 100
costs.length is even.
1 <= aCosti, bCosti <= 1000
```

# Solution

- Sort by different cost between city a and b

In [1]:
# Time O(N log(N))
# Space O(1)

class Solution:
    def twoCitySchedCost(self, costs):
        costs.sort(key=lambda x: x[0] - x[1])
        total_minimum_cost = 0
        for idx in range(len(costs)):
            if idx <= (len(costs) / 2) - 1:
                total_minimum_cost += costs[idx][0]
            else:
                total_minimum_cost += costs[idx][1]
        
        return total_minimum_cost

In [2]:
costs = [[10,20],[30,200],[400,50],[30,20]]
expected = 110

output = Solution().twoCitySchedCost(costs)
print(output)
assert output == expected

110

In [3]:
costs = [[259,770],[448,54],[926,667],[184,139],[840,118],[577,469]]
expected = 1859

output = Solution().twoCitySchedCost(costs)
print(output)
assert output == expected

1859

In [4]:
costs = [[515,563],[451,713],[537,709],[343,819],[855,779],[457,60],[650,359],[631,42]]
expected = 3086

output = Solution().twoCitySchedCost(costs)
print(output)
assert output == expected

3086